<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<head>
		<meta charset="utf-8" name="FRC team 5945" content="Maple Lawn pool availablity">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn pool active member modifyer</title>

	</head>

	<body>
		<h1>Pool availability administrator</h1>
		<br />
		<h2>This site is for Pool administrators only</h2>
		<br />
		<div id = "log" style="display: block">
			<div class="containter">
				<label for="pass"><b>Password</b></label>
				<input type="password" placeholder="Enter password..." name="pass" id="pass">
			</div>
			<button name="login" id="login" type="button" class="submbutton">Login</button>
		</div>
		<div id="stuff" style="display: none">
		</div>

	</body>
</html>

<script>
	$(document).ready(function(){
		$("#login").click(function(){
			var attempt = document.getElementById("pass").value;
			$.post("/pass1", attempt, function(data, status){
				if(data == "U_R_IN"){
					document.getElementById("log").style.display =  "none";
					document.getElementById("stuff").style.display  =  "block";
					alert("The password is correct.");
				}
			});
		})
	})
</script>