<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<head>
		<meta charset="utf-8" name="FRC team 5945" content="Maple Lawn pool availablity">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn pool availability tracker</title>

	</head>

	<body>
		<h1>Pool availability administrator</h1>
		<br />
		<h2>This site is for lifegaurds of the pool ONLY!!!!</h2>
		<br />
		<div id = "log" style="display: block">
			<div class="containter">
				<label for="pass"><b>Password</b></label>
				<input type="password" placeholder="Enter password..." name="pass" id="pass">
			</div>
			<button name="login" id="login" type="button" class="submbutton">Login</button>
		</div>
		<div id="stuff" style="display: none">
			<h3>The pool's capacity is 25 people</h3>
			<br />
			<h3 style="color: darkgreen">The pool has {{ c }} people in it</h3>
			<h3 style="color: red">The pool can have {{ ca }} more people enter</h3>
			<br />
			<p>Refresh to update numbers(you will have to re-enter the password)</p>
			<br />
			<div style="display: inline">
					<label for="add"><b>Person goes into the pool</b></label>
					<button name="add" id="add" class="addbutton">+</button>
					<label for="sub"><b>Person leaves the pool</b></label>
					<button name="sub" id="sub" class="subbutton">-</button>
			</div>
			<br />
			<br />
			<label for="reset"><b>Reset the number of people in the pool</b></label>
			<div style="display: block">
				<button name="reset" id="reset" class="resetb">reset</button>
			</div>
		</div>

	</body>
</html>

<script>
	$(document).ready(function(){
		$("#login").click(function(){
			var attempt = document.getElementById("pass").value;
			if(attempt == ("{{ p  }}")) {
				document.getElementById("log").style.display = "none";
				document.getElementById("stuff").style.display = "block";
				alert("The password is correct.");
			}
			else {
				alert("Incorrect password please try again.");
			}
		})
		$("#add").click(function(){
			$.post("/add", "iRWOJRnHZDlIsCm63EbJfwkXJkhngbitJw==")
		})
	})
</script>