<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<head>
		<meta charset="utf-8" name="FRC team 5945" content="Maple Lawn pool availablity">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn pool active member modifyer</title>

	</head>

	<body>
		<h1>Pool availability administrator</h1>
		<br />
		<h2>This site is for Pool administrators only</h2>
		<br />
		<div id = "log" style="display: block">
			<div class="containter">
				<label for="pass"><b>Password</b></label>
				<input type="password" placeholder="Enter password..." name="pass" id="pass">
			</div>
			<button name="login" id="login" type="button" class="submbutton">Login</button>
		</div>
		<div id="stuff" style="display: none">
			<h2>Enter family into pool database</h2>
			<br />
			<h3>Enter in this format:</h3>
			<p>Lastname, address, can they enter the pool(0(no) or 1(yes))</p>
			<div>
				<input type="text" id="lname" placeholder="Last Name...">
				<input type="text" id="addre" placeholder="Address...">
				<input type="number" id="paydu" min=0 max=1>
			</div>
			<label for="passw">Enter the password so we can verify your identity</label>
			<input type="password" name="passw" id="passw" placeholder="Enter Password...">
			<button id="submit" type="button" class="submbutton">Add person</button>
			<br />
			<br />
			<br />
			<h2>Change if family is allowed in the pool</h2>
			<p>Lastname, address, (value you can change)can they enter the pool(0(no) or 1(yes))</p>
			<div>
				<input type="text" id="lname1" placeholder="Last Name...">
				<input type="text" id="addre1" placeholder="Address...">
				<input type="number" id="paydu1" min=0 max=1>
			</div>
			<label for="passw1">Enter the password so we can verify your identity</label>
			<input type="password" name="passw1" id="passw1" placeholder="Enter Password...">
			<button id="submit1" type="button" class="submbutton">Change pay</button>
			<br />
			<br />
			<br />
			<h2>Change family address</h2>
			<p>Lastname, address, (value you can change)edited address</p>
			<div>
				<input type="text" id="lname2" placeholder="Last Name...">
				<input type="text" id="addre2" placeholder="Address...">
				<input type="text" name="naddre" id="naddre" placeholder="New Address...">
			</div>
			<label for="passw2">Enter the password so we can verify your identity</label>
			<input type="password" name="passw2" id="passw2" placeholder="Enter Password...">
			<button id="submit2"  type="button" class="submbutton">Change address</button>
			<br />
			<br />
			<br />
			<h2>Change family name</h2>
			<p>Lastname, address, (value you can change)edited name</p>
			<div>
				<input type="text" id="lname3" placeholder="Last Name...">
				<input type="text" id="addre3" placeholder="Address...">
				<input type="text" id="nlname" placeholder="New Last Name...">
			</div>
			<label for="passw3">Enter the password so we can verify your identity</label>
			<input type="password" name="passw3" id="passw3" placeholder="Enter Password...">
			<button id="submit3" type="button" class="submbutton">Change Name</button>
			<br />
			<br />
			<br />
			<h2>Delete family from database</h2>
			<p>Lastname, address</p>
			<div>
				<input type="text" id="lname4" placeholder="Last Name...">
				<input type="text" id="addre4" placeholder="Address...">
			</div>
			<label for="passw4">Enter the password so we can  verifyyour identity</label>
			<input type="password" name="passw4" id="passw4" placeholder="Enter Password...">
			<button id="submit4" type="button" class="submbutton">Delete Family</button>
		</div>

	</body>
</html>

<script>
	$(document).ready(function(){
		$("#login").click(function(){
			var attempt = document.getElementById("pass").value;
			$.post("/pass1", attempt, function(data, status){
				if(data == "U_R_IN"){
					document.getElementById("log").style.display =  "none";
					document.getElementById("stuff").style.display  =  "block";
					alert("The password is correct.");
				}
			});
		})
		$("#submit").click(function(){
			var attempt = ("CuRUkhogic7YvKv0ak6oAJaH1g7uY8z2gA=="+document.getElementById("passw").value);
			var ln = document.getElementById("lname").value;
			var ad = document.getElementById("addre").value;
			var pa = document.getElementById("paydu").value;
			$.ajax({
				type: "POST",
				url: "/register",
				data: JSON.stringify({key: attempt, lname: ln, address: ad, pay: pa}),
				contentType: "application/json; charset=utf-8",
				success: function (data, status){
					if(data == "It worked"){
						alert("Party successfully added");
					}
					else if(data == "No"){
						alert("Party already exsists");
					}
				}
			})
		})
		$("#submit1").click(function(){
			var attempt =  ("iRWOJRnHZDlIsCm63EbJfwkXJkhngbitJw=="+document.getElementById("passw1").value);
			var ln = document.getElementById("lname1").value;
			var ad = document.getElementById("addre1").value;
			var pa = document.getElementById("paydu1").value;
			$.ajax({
				type: "POST",
				url: "/cpay",
				data: JSON.stringify({key: attempt, lname: ln, address: ad, pay: pa}),
				contentType: "application/json; charset=utf-8",
				success: function (data, status){
					if(data == "It worked"){
						alert("Value successfully changed");
					}
					else if(data == "No"){
						alert("Name and address don't exsist together");
					}
				}
			})
		})
		$("#submit2").click(function(){
			var attempt = ("+saF6NWKEgyrqRt02gol/k2nagxeWhLQkA=="+document.getElementById("passw2").value);
			var ln = document.getElementById("lname2").value;
			var ad = document.getElementById("addre2").value;
			var nad = document.getElementById("naddre").value;
			$.ajax({
				type: "POST",
				url:  "/caddress",
				data: JSON.stringify({key: attempt, lname: ln, address: ad, naddress: nad}),
				contentType: "application/json; charset=utf-8",
				success: function (data, status){
					if(data == "It worked"){
						alert("Value successfully changed");
					}
					else if(data ==  "No"){
						alert("Name and address don't exsist together");
					}
				}
			})
		})
		$("#submit3").click(function(){
			var attempt = ("4kr6XeFX3aZjvv1aCKKhWW4bvcPGULmgHA=="+document.getElementById("passw3").value);
			var ln = document.getElementById("lname3").value;
			var ad = document.getElementById("addre3").value;
			var nln = document.getElementById("nlname").value;
			$.ajax({
				type: "POST",
				url: "/clname",
				data: JSON.stringify({key: attempt,  lname: ln, address: ad, nlname: nln}),
				contentType: "application/json; charset=utf-8",
				success:  function (data, status){
					if(data == "It worked"){
						alert("Value changed successfully");
					}
					else if(data == "No"){
						alert("Name and address don't exsist together")
					}
				}
			})
		})
		$("#submit4").click(function(){
			var attempt = ("RfZDtKHDFntlZz3MmAnIJPGtAdYIqhZQCw=="+document.getElementById("passw4").value);
			var ln = document.getElementById("lname4").value;
			var ad = document.getElementById("addre4").value;
			$.ajax({
				type: "POST",
				url: "/delt",
				data: JSON.stringify({key: attempt, lname: ln, address: ad}),
				contentType: "application/json; charset=utf-8",
				success: function (data, status){
					if(data == "It worked"){
						alert("Family deleted successfully");
					}
					else if(data == "No"){
						alert("Name and address don't exsist together")
					}
				}
			})
		})
	})
</script>