<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<head>
		<meta charset="utf-8" name="FRC team 5945" content="Maple Lawn pool availablity">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn pool online checkin</title>
	</head>

	<body>
		<h1>Maple Lawn pool online check in</h1>
		<br />
		<br />
		<br />
		<h3>The pool's capacity is {{ cap }} people</h3>
		<br />
		<h3 style="color: darkgreen">The pool has {{ c }} people in it</h3>
		<h3 style="color: red">The pool can have {{ ca }} more people enter</h3>
		<br />
		<p>Refresh to update the numbers</p>
		<br />
		<br />
		<h2>Enter your first and last name(cap first letters)</h2>
		<div>
			<input type="text" placeholder="First Name..." id="fir">
		 	<input type="text" placeholder="Last Name..." id="las">
		</div>
		<button id="submit" type="button" class="submbutton">Register</button>
	</body>

	<script>
		$(document).ready(function(){
			$("#submit").click(function(){
				var peo = "{{ peo }}";
				var per = (document.getElementById("fir").value+" "+document.getElementById("las").value);
				if(peo.includes(per)){
					$.post(('/enter/'+per),"{{ en }}", function(data,status){
						if(data =="It work"){
							alert("You have been successfully registered");
						}
						else if(data  ==  "Already here"){
							alert("Oops\nThis person is already registered");
						}
						else {
							alert("It isn't working for some reason");
						}
						
					});

				}
				else {
					alert("Name not on Maple Lawn registry please try again");
				}			
			})
				
		})
	</script>

