<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<head>
		<meta charset="utf-8" name="FRC team 5945" content="Maple Lawn pool availablity">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn pool online checkout</title>
	</head>

	<body>
		<h1>Maple Lawn pool online check out</h1>
		<br />
		<br />
		<br />
		<h2>Enter your first and last name(cap first letters)</h2>
		<div>
			<input type ="text" placeholder="First Name..." id="fir">
			<input type ="text" placeholder="Last Name..." id="las">
		</div>
		<button id="submit" type="button" class="submbutton">Check out</button>
	</body>

	<script>
		$(document).ready(function(){
			$("#submit").click(function(){
				var peo = "{{ peo }}";
				var per = (document.getElementById("fir").value+" "+document.getElementById("las").value);
				if(peo.includes(per)){
					$.post(('/exit/'+per),"{{ ex }}", function(data, status){
						if(data == "It work"){
							alert("You have been checked out successfully!");
						}
						else if(data == 'Gone'){
							alert("Oop\nThis person isn't registered in the pool right now");
						}
						else{
							alert("It isn't working for some reason");
						}
					});
				}
				else{
					alert("Name not on Maple Lawn registry please try again");
				}
			})
		})
	</script>
