<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<head>
		<meta charset="utf-8" name="FRC Team 5945" content="Maple Lawn Pool Availability">
		<meta http-equiv="refresh" content="15"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn Pool Availability</title>

	</head>

	<body style="background-color: lightgray;">
		<h1 style="text-align: center">Maple Lawn Pool Availability</h1>
		<br />
		<br />
		<br />
		<br />
		<img src="../static/Pictures/pool.webp" alt="Pool" style="float:right" width="40%" height="40%">
		<h3>Pool Capacity is:</h3>
		<h1 style="color: maroon">{{ cap }}</h1>
		<br />
		<br />
		<h3>Number of People at the Pool:</h3>
		<h1 style="color: maroon;">{{ c }}</h1>
		<br />
		<br />
		<h3>Number of Spaces Available at the Pool:</h3>
		<h1 style="color: maroon">{{ ca }}</h1>
		<br />
		<br />
		<br />
		<p style="color:maroon" style="float: right;"><em><b>Reminder</em>: Refresh the Page to Update the Data</b></p>
		<br />
		<br />
		<br />
		<img src="../static/Pictures/absctrl_logo.png" alt="Absolute Control" style="float: left;" width="20%" height="20%">
		<br />
		<br />
		<br />
		<br />
		<img src="../static/Pictures/hackground_logo.png" alt="Hackground" style="float: right;" width="20%" height="20%">
	</body>
</html>
