<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<head>
		<meta charset="utf-8" name="FRC team 5945" content="Maple Lawn pool availablity">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn pool availibility register</title>

	</head>

	<body>
		<h1>Pool availability register</h1>
		<br />
		<h2>This site is for Pool lifegaurds only</h2>
		<br />
		<div id = "log" style="display: block">
			<div class="containter">
				<label for="pass"><b>Password</b></label>
				<input type="password" placeholder="Enter password..." name="pass" id="pass">
			</div>
			<button name="login" id="login" type="button" class="submbutton">Login</button>
			<br />
			<br />
			<br />
		</div>
		<div id="stuff" style="display: none">
			<h2>Search for family name</h2>
			<br />
			<input type="text" id="lname1" placeholder="Last Name...">
			<label for="passw1">Enter the password so we can verify your idenity</label>
			<input type="password" id="passw1" name="passw1" placeholder="Enter Password...">
			<button type="button" id="submit1" class="submbutton">Search</button>
			<br />
			<br />
			<div id="results"></div>
		</div>
	</body>

	<script>
		$(document).ready(function(){
			$("#login").click(function(){
				var attempt = document.getElementById("pass").value;
				$.post("/pass2", attempt, function(data, status){
					if(data == "U_R_GOOD"){
						document.getElementById("log").style.display = "none";
						document.getElementById("stuff").style.display = "block";
						alert("The password is correct");
					}
					else if(data  = "U_R_BAD"){
						alert("Incorrect password please try again");
					}
				})
			})
			$("#submit1").click(function(){
				var attempt = ("{{ se }}"+document.getElementById("passw1").value);
				var ln = document.getElementById("lname1").value;
				$.ajax({
					type: "POST",
					url: "/search",
					data: JSON.stringify({ key: attempt, lname: ln }),
					contentType: "application/json; charset=utf-8",
					success: function (data, status){
						$("#results").html(data);
						alert(status);
					}
				})
			})
		})
	</script>
</html>
