<!DOCTYPE html>

<html lang="en">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<head>
		<meta charset="utf-8" name="FRC team 5945" content="Maple Lawn Pool Availablity">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>Maple Lawn Pool Registering System</title>

	</head>

	<body style="background-color: lightgray;">
		<h1 style="text-align: center;"><b>Maple Lawn Pool Registering System</b></h1>
		<br />
		<h2 style="text-align: center;"><b>For Pool Administrators Only</b></h2>
		<br />
		<br />
		<br />
		<br />
		<div id = "log" style="display: block">
			<div class="containter" style="text-align: center;">
				<label for="pass" style="color: maroon;"><b>Password</b></label>
				<input type="password" placeholder="Enter password..." name="pass" id="pass">
				<button name="login" id="login" type="button" class="submbutton">Login</button>
			</div>
			<br />
			<br />
			<br />
		</div>
		<div id="stuff" style="display: none">
			<p>refresh to update data</p>
			<br />
			<h3>Pool capacity is:</h3>
			<h1 style="color: black">{{ cap }}</h1>
			<br />
			<br />
			<h3># of people at the pool:</h3>
			<h1 style="color: darkgreen">{{ c }}</h1>
			<br />
			<h3># of spaces available at the pool:</h3>
			<h1 style="color: red">{{ ca }}</h1>
			<br />
			<br />
			<br />
			<h2>Search for family name</h2>
			<br />
			<input type="text" id="lname1" placeholder="Last Name...">
			<label for="passw1">Enter the password so we can verify your idenity</label>
			<input type="password" id="passw1" name="passw1" placeholder="Enter Password...">
			<button type="button" id="submit1" class="submbutton">Search</button>
			<br />
			<br />
			<div id="results"></div>
			<br />
			<br />
			<br />
			<h2>Add people to party</h2>
			<br />
			<div>
				<input type="text" id="lname2" placeholder="Last Name...">
				<input type="text" id="addre2" placeholder="Address...">
				<input type="number" id="peoadd" min=0>
			</div>
			<label for="passw2">Enter the password so we can verify your identity</label>
			<input type="password" name="passw2" id="passw2" placeholder="Enter Password...">
			<button type="button" id="submit2" class="submbutton">Add</button>
			<br />
			<br />
			<br />
			<h2>Subtract people from party</h2>
			<br />
			<div>
				<input type="text" id="lname3" placeholder="Last Name...">
				<input type="text" id="addre3" placeholder="Address...">
				<input type="number" id="peosub" min=0>
			</div>
			<label for="passw3">Enter the password so we can verify your identity</label>
			<input type="password" name="passw3" id="passw3" placeholder="Enter Password...">
			<button type="button" id="submit3" class="submbutton">Subtract</button>
			<br />
			<br />
			<br />
			<table class="table table-bordered table-striped"><tr><th>id</th><th>Last Name</th><th>Address</th><th>People at the pool</th><th>Enter_time</th></tr>{% for item in dat %}<tr><td>{{ item.id }}</td><td>{{ item.lname }}</td><td>{{ item.address }}</td><td>{{ item.peopleat }}</td><td>{{ item.enter_time }}</td></tr>{% endfor %}</table>
		</div>
		<img src="../static/Pictures/absctrl_logo.png" alt="Absolute Control" style="float: left; padding-right: 10px;" width="20%" height="20%">
		<br />
		<br />
		<br />
		<img src="../static/Pictures/hackground_logo.png" alt="Hackground" style="float: right; padding-right: 10px;" width="20%" height="20%">
	</body>

	<script>
		$(document).ready(function(){
			$("#pass").autocomplete({
				source: [getCookie("pass2")],
				minLength: 0
			})
			$("#passw1").autocomplete({
				source: [getCookie("pass_for_search")],
				minLength: 0
			});
			$("#passw2").autocomplete({
				source: [getCookie("pass_for_add")],
				minLength: 0
			})
			$("#passw3").autocomplete({
				source: [getCookie("pass_for_sub")],
				minLength: 0
			})
			$("#lname1").autocomplete({
				source: ["~"{% for item in pep %},"{{ item.lname }}"{% endfor %}],
				minLength: 1
			})
			$("#lname2").autocomplete({
				source: ["~"{% for item in pep %},"{{ item.lname }}"{% endfor %}],
				minLength: 1
			})
			$("#addre2").autocomplete({
				source: ["~"{% for item in pep %},"{{ item.address }}"{% endfor %}],
				minLength: 1
			})
			$("#lname3").autocomplete({
				source: ["~"{% for item in pep %},"{{ item.lname }}"{% endfor %}],
				minLength: 1
			})
			$("#addre3").autocomplete({
				source: ["~"{% for item in pep %},"{{ item.address }}"{% endfor %}],
				minLength: 1
			})

			$("#login").click(function(){
				var attempt = document.getElementById("pass").value;
				$.post("/pass2", attempt, function(data, status){
					if(data == "U_R_GOOD"){
						document.getElementById("log").style.display = "none";
						document.getElementById("stuff").style.display = "block";
						alert("The password is correct");
					}
					else if(data  = "U_R_BAD"){
						alert("Incorrect password please try again");
					}
				})
			})
			$("#submit1").click(function(){
				var attempt = ("{{ se }}"+document.getElementById("passw1").value);
				var ln = document.getElementById("lname1").value.trim();
				$.ajax({
					type: "POST",
					url: "/search",
					data: JSON.stringify({ key: attempt, lname: ln }),
					contentType: "application/json; charset=utf-8",
					success: function (data, status){
						$("#results").html(data);
						alert(status+"(if table shows results other than no we have remembered your password)");
					}
				})
			})

			$("#submit2").click(function(){
				var attempt = ("{{ ad }}"+document.getElementById("passw2").value);
				var ln = document.getElementById("lname2").value.trim();
				var ad = document.getElementById("addre2").value.trim();
				var peo = document.getElementById("peoadd").value;
				$.ajax({
					type: "POST",
					url: "/add",
					data: JSON.stringify({ key: attempt, lname: ln, address: ad, people: peo}),
					contentType: "application/json; charset=utf-8",
					success: function (data, status){
						if(data == "It w1"){
							alert("party successfully registered");
						}
						else if(data  ==  "It w2"){
							alert("people successfully added to party");
						}
						else if(data == "wtm"){
							alert("adding these people will go over the pool limit");
						}
						else if(data == "No"){
							alert("No party exsists that is paid with this name and address");
						}
					}
				})
			})
			$("#submit3").click(function(){
				var attempt = ("{{ su }}"+document.getElementById("passw3").value);
				var ln = document.getElementById("lname3").value.trim();
				var ad = document.getElementById("addre3").value.trim();
				var peo = document.getElementById("peosub").value;
				$.ajax({
					type: "POST",
					url: "/sub",
					data: JSON.stringify({key: attempt, lname: ln, address: ad, people: peo}),
					contentType: "application/json; charset=utf-8",
					success: function (data, status){
						if(data == "It w"){
							alert("people subracted successfully");
						}
						else if(data == "tm"){
							alert("Can't subtract more people than are registerd at the pool")
						}
						else if(data == "No"){
							alert("People not registered at the pool")
						}
					}
				})
			})
			function getCookie(name) {
				var arr = document.cookie.split(";");

				for(var a = 0; a < arr.length;a++){
					var par = arr[a].split("=");

					if(name == par[0].trim()){
						return decodeURIComponent(par[1]);
					}
				}
				return "hi";
			}
			function getCookies(name){
				var arr = document.cookie.split(";");

				for(var a = 0; a < arr.length;a++){
					var par = arr[a].split("=");

					if(name == par[0].trim()){
						return decodeURIComponent(par[1]).split(",");						
					}
				}
			}
		})
	</script>
</html>
